@import url(OtrosEstilos.css);

h2{color: darkturquoise;}
p{color:deeppink;}



/*al igual que en el html, en el css se pueden hacer comentarios*/


/*El CSS como pueden ver, trabaja con estilos.
Los estilos estan compuerstos por un selector y una declaracion.
Nos vamos a ocupar en este momento de los selectores.

Ejemplo de un estilo
p {color:red;}

p es el selector
{color:red;} es la declaración

Vamos a ver la clase de selectores:

-Selector universal --> *
selector universal se especifica mediante un asterisco

-Tipo ó etiqueta --> p 
de tipo o de etiqueta donde yo selecciono o defino el elemento de html que quiero modificar.

-Class --> .algo

-Id --> #algo

-Pseudo-Clases --> :link; :visited, :active, :hover
pseudo-clases a su vez estan divididos en 4.

-De atributo --> [href]
*/

/*SELECTOR UNIVERSAL -> * */

/*El selector universal, le aplica unas caracteristica a todos los elementos de la html.
en las propiedades se especifica los elementos que quiero cambiar.

el selector universal consiste de un asterisco seguido de una declaracion.

*{}

*/
/* *{font-family: Arial;}  Se comento el selector universal para poder seguir usando el font-family para la clase de fuentes */

/*Los SELECTORES DE TIPO O DE ETIQUETA modifican a los elementos de html de manera cocreta*/
/*Aquí ya teniamos dos ejemplos donde uno modifica a los elementos h2 y en el otro a los elementos p

Agregamos al documento Estilo_importadas.html unos elementos del tipo Span.
Puedo definir el elemento al cual le quiero aplicar esas caracteristicas*/

span {color: darkgreen;}

/*los SELECTORES DE TIPO CLASS son selectores de tipo personalizados, en los cuales cada uno le define el nombre del selector, 
pero este nombre no puede tener espacios o caracteres raros y comienzan con un punto.*/

.subrayado{text-decoration: underline;}

/*Si yo ejecuto el archivo Estilo_importadas.html no va a pasar anda porque yo todavia no especifique en donde se va a aplicar.
Asi queda aplicado para que lo pueda utilizar en cualquiera de los elementos pero lo puedo aplicar de manera mas concreta o explicita:
puedo decirle que aplique esto solo los elementos span que tengan aplicado la clase subrayado

span.subrayado{text-decoration: underline;}

En este caso solo lo vamos a ver en el caso de los span pero por ejemplo, lo tenia aplicado en otro elemento, no lo veré más subrayado.

lo declaro al selector de tipo class y luego tengo que aplicarlo en los elementos del html que yo quiera colocandoles
class = "El nombre de la clase"*/

/*Los SELECTORES DE TIPO ID son selectores para estilos personalizados y al igual de los tipos class, el autor es el que define el nombre de los selectores poniendo # seguido del nombre.
El nombre no debe tener espacios ni caracteres especiales. y luego se aplican en el documento html a los elementos concretamente con el atributo id.
son muy parecidos al tipo class pero se deben aplicar solamente a un elemento dentro del archivo html.*/

#mayusculas{text-transform: uppercase;}

/*Debo aplicarlo a alguno de los elementos html para que se vea afectado por esas propiedades. Debo aplicarlo SOLAMENTE A UN ELEMENTO EN 
CONCRETO, como poder se puede pero  no es la funcion de este tipo de selector.

Tambien puedo aplicarlo mas concretamente:

h3#mayusculas{text-transform: uppercase;}*/

/*Los SELECTORES PSEUDOCLASS son unos selectores en donde se les añade una palabra clave a uno de los elementos del html para especificar un estado particular del elemento seleccionado.
Se utilizan para modificar todos los elementos html con caracteristicas especiales. Los mas conocidos son los que se utilizan para los links por ejemplo.

los liks por defecto vienen de color azul. los exploradores recuerdan cuando frecuentaste una pagina porque aparece de color diferente.*/

/*Los SELECTORES TIPO CLASS:
    a:link{} aplica unas caracterisiticas a un link que no ha sido visitado
    a:visited {} aplica unas caracteristicas a un link que SI ha sido visitado
    a:hover {} aplica unas caracteristicas a un link donde pasa el cursor sobre este
    a:active {} aplica unas caracterisitcas a un link cuando es cliqueado o presionado
*/
a:link{color: aquamarine;} 
a:visited {color: chartreuse;}
a:hover{font-weight: bold; text-decoration: none;} /*al pasar el cursor desparaece el subrayado y se pone en negrita*/
a:active {color: brown;} 


/*LOS SELECTORES DE ATRIBUTO selecciona un elemento utilizando un atributo especifico o utilizando un atributo especifico y el valore del mismo

esas imagenes que hemos agregado, tienen tres atributos:
--src
--alt (OBLIGATORIO)
--title (NO OBLIGATORIO / OPCIONAL)
a todas las imagenes cuyo atributo sea el title van a tener ciertas caracteristicas:
*/

img[title]{width: 200px;height: auto;}
/*esto lo aplica a todas las imagenes, pero si a una le quito el titulo, a esa que le quite el titulo, no se le aplican esas propiedades.*/

img[alt="gato tierno"]{width: 200px;height: auto;} /*Solamente se va a ver afectado el elemento html o elementos que presenten ese atributo con ese valor.*/


/* FUENTE:*/

body{
    
    font-family: Arial, Helvetica, sans-serif;
    /*lo que va a hacer este font family es que me va a mostrar la informacion del body en arial pero, le pongo coma y
    otra fuente porque en caso de que no encuentre ese tipo de letra, que me lo muestre en ese otro tipo de letra y
    si tampoco la encuentra, que me lo muestre en el otro tipo*/
   
    font-size: 14px; /*otra propiedad que me permite cambiar o definir la unidad de medida que quiero para la fuente, puedo especificar la fuente en pixeles, en porcentajes, en puntos, etc.
    Pero se recomiendan tres unidades de medida que son:
        pixeles: unidades de medida que tenemos en pantalla.
        porcentajes: equivalente a 16 pixeles.
        em = pixeles/16. me permite trabajar en valores decimales.

        en esta tabla podemos ver cuales son los valores equivalentes:
        body por defecto mide 16 px, 100% y 1em, ejemplo.

    */
    
    font-weight: bold;/*font-weight: me determina el grosor de la fuente. puedo tener un valor NORMAL, o un valor BOLD. Pero tambien puedo tener valores intermedios siempre y cuando te lo
    permita, la familia completa de la fuente te lo permita. Si yo especifico ahi, 0, eso seria normal, si yo especifico ahi, 1000, eso seria BOLD. Si yo quiero un MEDIUM, yo puedo poner 500
    sin necesidad de especificar la unidad de medida.*/
    
    font-style: italic;/*Me permite modificar el estilo de la fuenta, ya sea normal o letra en italica, italic.*/
    font-variant: small-caps;/*permite modificar el aspecto de la fuente, ya sea normal o small-caps(todas las letras se ven en mayusculas solo que las primeras se ven mas altas), normal es
    el valor que viene especificado por defecto.*/
    line-height: 36px;/*Me permite modificar el interlineado de un texto o el espacio entre renglon y renglon. Puede ser normal, puedo especificar un numero (un factor de multiplicacion), un 
    valor en porcentaje o podria medirlo mediante un numero, un valor especifico, ejemplo 36 px.*/
    /*Shorthand o metodo abreviado, puedo trabajar todas estas propiedades en una sola propiedad: que se llama font:
    las trabajo en ese orden de ser posible, necesariamente tengo que usar font-size y font-family, el resto pueden faltar*/
    font: italic small-caps bold 25px/200% arial, helvetica, sans-serif; 
}


    /*TEXTO*/
    /*Propiedades: alineacion, sangria, etc.*/

    p{
        text-align: justify; /*Me permite utilizar los valores center, inherit, justify, left, right.
                            En caso de left, alinea el texto a la izquierda. En caso de Right, a la derecha. En el caso de center, en el centro. Justify, forzar la justificacion.
                            No Suele recomendarse la justificacion en una página web.*/
        text-indent: 20 px; /*Me permite agregar indentados sangria frqancesa a los textos. Debo agregar valores medidos en lo que ya vimos pixceles, porcentajes, etc.*/
        text-transform: capitalize; /*Nos permite transformar nuestro texto de lo que es a otro estado. pasar de minuscula a mayuscula, o viceversa, convertir las primeras letras en mayuscula, entre otras cosas.
                                    Uppercase: pasar todas las letras a mayuscula.
                                    Lowercase: pasar todas las letras a minuscula.
                                    capitalize me permite ver todas las primeras letras de las palabvras en mayusculas.*/
        text-decoration: line-through; /*voy a permitir hacer es agregarle una linea de alguna forma, agregar un subrayado, quitarlo, tachar las palabras, etc.
                                    Underline: Todos los textos subrayados
                                    overline: poner una linea en la parte superior de la letra.
                                    LINE-THROUGH: te tacha la letra.
                                    none: que me quite los subrayados, ejemplo, en los links.
                                    */
      }

    a{
        text-decoration: none;
    }
    
/*vertical-align: *Me permite alinear un texto, con respecto a otro elemento, siempre y cuando no sea un bloque, por ejemplo, la imagen.*/

img{
    
    vertical-align: middle; /*Top, baseline, middle,  botttom, sub, sup
                            con middle, por ejemplo, la imagen queda alineada a la mitad, con la primera linea de texto. sino quedaria en el bottom, en la base de la imagen la primera linea del texto.*/

} 

h2{

    letter-spacing: 5px; /*Me permite modificar el esapcio entre las letras, tamnbien conocido como kerning en el area de diseño.
                        letter-spacing requiere un valor numerico y una unidad de medida.*/
    word-spacing: 20px; /*Me va a permitir modificar el espacio entre palabras. se expresa en numeros tambien con una iunidad de medida.*/
}


/*FONDO*/
/*
body{*/

   /* background-color: peachpuff;*/ /*puedo utilizar el nombre del color, notacion hexagecimal o rgb.*/
  /*  background-image: url(../imagenes/gato.jpg); */ /*url donde se encuentra la imagen que quiero de fondo.*/
    /*ahora veremos unas propiedades complementarias al background-image*/
  /*  background-repeat: no-repeat;*/ /*Tiene varios valors, puedo repetir la imagen, repeat, que es su valor por defecto.
                                Puedo decirle repeat-x que solo se repita en el eje x.
                                repeat-y lo mismo en el eje y
                                no-repeat la imagen aparece de fondo pero no se repite*/
  /*  background-position: 20% 50% ;*/ /*permite ubicar el fondo en un lugar relativo absoluto, especificamente, en el centro arriba, en el centro abajo,
                            etc. Utilizando las palabras de valores relativos, o utilizando numeros
                            valor por defecto left-top.
                            center right.
                            center top.
                            en porcentajes o pixeles. ejemplo a 100px a la izquierda y a 200px del eje y
                            al 20% en x y a 50% en y.*/
  /*  background-attachment: fixed;*/ /*Puedo decirle como se va a mover ese fondo. Si yo muevo la barra de scroll, el fondo se mueve con el contenid
                                de la pagina o se mantiene fijo con el contenido.
                                scroll, el valor por defecto, el fondo se mueve al unisolo con el contenido de la pagina
                                fixed, hago que se convierta en un fondo fijo, el fondo permanece quieto y el texto se mueve.*/
/*}*/

/*CUADRO*/
#cuadro{
    width: 200px; /*Donde yo le indico cual es el ancho que yo quiero para el.*/
    height: 200px; /*indico cual es el alto del elemento*/
    background: lime; /*Yo puedo utilizar todas las propiedades de background.*/
    /*Ahora podemos ver los limites del cuadro y demas, pero podemos ver como el contenido del cuadro excede al cuadro, sale para afuera.*/
    
}
