@import url(OtrosEstilos.css);

h2{color: darkturquoise;}
p{color:deeppink;}



/*al igual que en el html, en el css se pueden hacer comentarios*/


/*El CSS como pueden ver, trabaja con estilos.
Los estilos estan compuerstos por un selector y una declaracion.
Nos vamos a ocupar en este momento de los selectores.

Ejemplo de un estilo
p {color:red;}

p es el selector
{color:red;} es la declaración

Vamos a ver la clase de selectores:

-Selector universal --> *
selector universal se especifica mediante un asterisco

-Tipo ó etiqueta --> p 
de tipo o de etiqueta donde yo selecciono o defino el elemento de html que quiero modificar.

-Class --> .algo

-Id --> #algo

-Pseudo-Clases --> :link; :visited, :active, :hover
pseudo-clases a su vez estan divididos en 4.

-De atributo --> [href]
*/

/*SELECTOR UNIVERSAL -> * */

/*El selector universal, le aplica unas caracteristica a todos los elementos de la html.
en las propiedades se especifica los elementos que quiero cambiar.

el selector universal consiste de un asterisco seguido de una declaracion.

*{}

*/
/* *{font-family: Arial;}  Se comento el selector universal para poder seguir usando el font-family para la clase de fuentes */

/*Los SELECTORES DE TIPO O DE ETIQUETA modifican a los elementos de html de manera cocreta*/
/*Aquí ya teniamos dos ejemplos donde uno modifica a los elementos h2 y en el otro a los elementos p

Agregamos al documento Estilo_importadas.html unos elementos del tipo Span.
Puedo definir el elemento al cual le quiero aplicar esas caracteristicas*/

span {color: darkgreen;}

/*los SELECTORES DE TIPO CLASS son selectores de tipo personalizados, en los cuales cada uno le define el nombre del selector, 
pero este nombre no puede tener espacios o caracteres raros y comienzan con un punto.*/

.subrayado{text-decoration: underline;}

/*Si yo ejecuto el archivo Estilo_importadas.html no va a pasar anda porque yo todavia no especifique en donde se va a aplicar.
Asi queda aplicado para que lo pueda utilizar en cualquiera de los elementos pero lo puedo aplicar de manera mas concreta o explicita:
puedo decirle que aplique esto solo los elementos span que tengan aplicado la clase subrayado

span.subrayado{text-decoration: underline;}

En este caso solo lo vamos a ver en el caso de los span pero por ejemplo, lo tenia aplicado en otro elemento, no lo veré más subrayado.

lo declaro al selector de tipo class y luego tengo que aplicarlo en los elementos del html que yo quiera colocandoles
class = "El nombre de la clase"*/

/*Los SELECTORES DE TIPO ID son selectores para estilos personalizados y al igual de los tipos class, el autor es el que define el nombre de los selectores poniendo # seguido del nombre.
El nombre no debe tener espacios ni caracteres especiales. y luego se aplican en el documento html a los elementos concretamente con el atributo id.
son muy parecidos al tipo class pero se deben aplicar solamente a un elemento dentro del archivo html.*/

#mayusculas{text-transform: uppercase;}

/*Debo aplicarlo a alguno de los elementos html para que se vea afectado por esas propiedades. Debo aplicarlo SOLAMENTE A UN ELEMENTO EN 
CONCRETO, como poder se puede pero  no es la funcion de este tipo de selector.

Tambien puedo aplicarlo mas concretamente:

h3#mayusculas{text-transform: uppercase;}*/

/*Los SELECTORES PSEUDOCLASS son unos selectores en donde se les añade una palabra clave a uno de los elementos del html para especificar un estado particular del elemento seleccionado.
Se utilizan para modificar todos los elementos html con caracteristicas especiales. Los mas conocidos son los que se utilizan para los links por ejemplo.

los liks por defecto vienen de color azul. los exploradores recuerdan cuando frecuentaste una pagina porque aparece de color diferente.*/

/*Los SELECTORES TIPO CLASS:
    a:link{} aplica unas caracterisiticas a un link que no ha sido visitado
    a:visited {} aplica unas caracteristicas a un link que SI ha sido visitado
    a:hover {} aplica unas caracteristicas a un link donde pasa el cursor sobre este
    a:active {} aplica unas caracterisitcas a un link cuando es cliqueado o presionado
*/
a:link{color: aquamarine;} 
a:visited {color: chartreuse;}
a:hover{font-weight: bold; text-decoration: none;} /*al pasar el cursor desparaece el subrayado y se pone en negrita*/
a:active {color: brown;} 


/*LOS SELECTORES DE ATRIBUTO selecciona un elemento utilizando un atributo especifico o utilizando un atributo especifico y el valore del mismo

esas imagenes que hemos agregado, tienen tres atributos:
--src
--alt (OBLIGATORIO)
--title (NO OBLIGATORIO / OPCIONAL)
a todas las imagenes cuyo atributo sea el title van a tener ciertas caracteristicas:
*/

img[title]{width: 200px;height: auto;}
/*esto lo aplica a todas las imagenes, pero si a una le quito el titulo, a esa que le quite el titulo, no se le aplican esas propiedades.*/

img[alt="gato tierno"]{width: 200px;height: auto;} /*Solamente se va a ver afectado el elemento html o elementos que presenten ese atributo con ese valor.*/


/* FUENTE:*/

body{
    font-family: Arial, Helvetica, sans-serif;
/*lo que va a hacer este font family es que me va a mostrar la informacion del body en arial pero, le pongo coma y
 otra fuente porque en caso de que no encuentre ese tipo de letra, que me lo muestre en ese otro tipo de letra y
 si tampoco la encuentra, que me lo muestre en el otro tipo*/

}